[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DataExplorer"]
	path = DataExplorer
	url = https://github.com/boxuancui/dataexplorer
